#homepage-wrapper
  width: 100vw;
  height: 100vh;
  overflow hidden
  .active-box
    width 100vw
    height auto
    display flex
    justify-content space-around
    align-items center
    margin-bottom 30px
    .tab-content
      display flex
      justify-content center
      align-items center
      width 50%
      height 50px
      .tab-text
        color black
        font-size 16px
        font-weight 400
        &.active
          color:red
